.bundle
doc/
tmp/
log/
.sass-cache/
coverage/
bin/
solr/data/
solr/pids/
db/*.sqlite3
public/assets/**/*
public/uploads/**/*
config/database.yml
config/mongoid.yml
config/config.yml
config/thin.yml
config/redis.yml
public/resources
.redcar
.DS_Store
.rvmrc
.rvm*
*.swp
*.swo
