// Place all the styles related to the admin/resources/audios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.audio-title{ width: 10%; }
.audio-file{ width: 50%; }
.audio-created-at{ width: 20%; }
.audio-active{ width: 20% }