/! top toolbar
.btn-toolbar
  .btn-group
    button#new-reply.btn.btn-primary ng-click='modalOpen()' = t('breadcrumbs.weixin.replies.new')

/ /! replies list
/ table.table.table-striped.table-bordered.table-hover ng-table="tableParams" show-filter="true"
/   tr ng-repeat="reply in replies"
/     td title="'#{Reply.human_attribute_name :name}'" sortable="name" filter="{'name': 'text'}"
/       | {{reply.name}}
